<div class="bg-img">
    <div class="d-flex justify-content-between">
        <img src="assets/image/otsuka-logo.png" class="p-4" height="100" alt="">
        <div class="mt-2 me-3">
            Hi, {{ userData.name }}.
            <a routerLink="" (click)="openLogoutModal()">Logout</a>
        </div>
    </div>
    <div class="container">
        <div class="card transparent-card shadow-lg rounded-7">
            <div *ngIf="apps === undefined">
                <div class="spinner-border text-primary" role="status" *ngIf="onLoading() == true">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div *ngIf="!isConnected" class="col justify-content-center">
                    <div class="row">
                        <p>Failed to connect to the server!</p>
                    </div>
                    <div class="row">
                        <button type="button" class="btn btn-sm btn-primary" (click)="ngOnInit()">Retry</button>
                    </div>
                </div>
            </div>
            <div class="row wrapper" *ngIf="apps !== undefined">
                <h2 class="text-center text-primary mb-3">OC3 Apps Gateway</h2>
                <div class="col col-lg-3 p-3 d-flex justify-content-center" *ngFor="let app of apps">
                    <div class="d-flex flex-column align-items-center me-2">
                        <button class="btn btn-sm btn-outline-secondary btn-floating mb-2" *ngIf="isEditModeActive"
                            type="button" (click)="onFavoriteAppClick(app)">
                            <i class="{{ app.custom_id ? 'fa-solid fa-heart' : 'fa-regular fa-heart'}}"></i>
                        </button>
                        <button *ngIf="isEditModeActive && isAdmin" (click)="openEditModal(app)" type="button"
                            class="btn btn-sm btn-secondary btn-floating">
                            <i class="fas fa-edit"></i>
                        </button>
                    </div>
                    <a href="{{ app.url }}">
                        <div class="app-card">
                            <img src="{{ imageUrl }}{{ app.icon }}" />
                            <div class="info">
                                <b>{{ app.name }}</b>
                                <p>{{ app.description }}</p>
                                <!-- <button>Read More</button> -->
                            </div>
                        </div>
                        <p class="mt-3 app-title">{{app.name}}</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="floating-btn col me-4" *ngIf="apps !== undefined">
        <div class="row mb-2">
            <button type="button" class="btn btn-lg {{isEditModeActive ? 'btn-danger' : 'btn-light'}} btn-floating"
                (click)="openEditMode()" mdbRipple>
                <i class="{{isEditModeActive ? 'fas fa-close' : 'fas fa-edit'}}"></i>
            </button>
        </div>
        <div class="row mb-2">
            <button type="button" *ngIf="isAdmin" class="btn btn-lg btn-primary btn-floating" (click)="openAddModal()"
                mdbRipple>
                <i class="fas fa-add"></i>
            </button>
        </div>
    </div>
</div>